<%- form_for @round, :url => match_rounds_path(@match) do |form| -%>
  <%- @match.number_of_rounds.times do |i|  -%>
  <div style='height:60px'>
    Round <%=  i + 1 %>:
    <%- if @match.team? -%>
      Who won? <%= select_tag "winning_team_ids[]", options_for_select([nil] + @match.teams.map{|t| [t.name, t.id] }) %>
    <%- else -%>
      Who won? <%= select_tag "winning_user_names[]", options_for_select([nil] + @match.users.map(&:name)) %>
    <%- end -%>
  </div>
  <%- end -%>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= form.submit %>
<%- end -%>